<%= form_for @poll, method: :post, url: poll_create_path do |f| %>

	<%= f.label :Poll %><br>
  <%= f.text_field :name %><br>

Choices:

	<ul>
    <%= f.fields_for :choices do |choice_form| %>
      <li>

        <%= choice_form.label :Choice %><br>
        <%= choice_form.text_field :name %><br>  


      </li>
    <% end %>
  	</ul>
  
 <br><%= f.submit 'Create' %>


<% end %>



